@use "global" as *;

.header {
    background-color: $black;
    height: rem(50);
    box-shadow: 0 4px 4px #E5E5E5;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.header__inner {
    padding-left: rem(22);
    padding-right: rem(22);
    height: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include mq(md){
        padding-left: rem(32);
        padding-right: 0;
    }
}

.header__contents {

}

.header__logo {
    max-width: rem(70);
    width: 100%;
    z-index: 9999;
    position: relative;
}

.header__link {

}

.header__img {

}

.header__drawer {
    display: block;
    @include mq(md){
        display: none;
    }
}

.header__sp-nav {
    padding-top: rem(209);
    padding-bottom: rem(200);
    height: 100vh;
    width: 100%;
    overflow: scroll;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    display: none;
    @include mq(md){
        display: none;
    }
}

.header__pc-nav {
    display: none;
    @include mq(md){
        display: block;
    }
}