@use "global" as *;

.page-nav {
}

.page-nav__list {
    color: $white;
    display: flex;
    flex-direction: column;
    gap: rem(32);
    align-items: center;
    height: 100vh;
    @include mq(md){
        gap: rem(32);
        flex-direction: row;
        height: initial;
        
    }
}


.page-nav__item {
    @include mq(md){
        padding: rem(15) 0;
    }
}

.page-nav__item--white {
    @include mq(md){
        color: $black;
        background-color: $white;
        padding-left: rem(32);
        padding-right: rem(32);
    }
}


.page-nav__link {

}

